<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="grid p-fluid">
        <div class="col-12 md:col-4" *ngIf="!forgotPassword">
          <div class="text-center fs-1 fw-bold">Welcome Back</div>
          <div class="text-center fs-6 mb-3 login-label">
            Login to continue to your account
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm(loginForm.value)">
            <!-- Email feild -->
            <div class="mb-3">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                  <ion-icon name="mail-outline"></ion-icon>
                </span>
                <input type="text" formControlName="email" class="input-box" pInputText placeholder="Email Address">         
              </div>
              <div class="text-danger" *ngIf="formSubmitted && 
              (loginForm.get('email')?.hasError('required') || loginForm.get('email')?.hasError('email'))">
              * Please enter valid email !
            </div>
            </div>

            <!-- Password feild -->
            <div class="mb-3">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                  <ion-icon name="lock-closed-outline"></ion-icon>
                </span>
                <span class="p-input-icon-right">
                  <i class="pi pi-eye" *ngIf="!showPassword" (click)="togglePassword()"></i>
                  <i class="pi pi-eye-slash dispPass" *ngIf="showPassword" (click)="togglePassword()"></i>
                  <input [type]="showPassword ? 'text' : 'password'" formControlName="password" class="input-box w-100 passwordInput" pInputText placeholder="Password">      
                </span>
              </div>
              <div class="text-danger" *ngIf="formSubmitted &&
              (loginForm.get('password')?.hasError('required') || loginForm.get('password')?.value.length < 8)">
              * Please enter 8 digit password !
            </div>
            </div>

            <!-- Others feild -->
            <div class="text-end text-danger mb-3" (click)="redirectToForgotPass()">
              Forgot Password?
            </div>

            <ion-button [disabled]="isLoginStart" expand="full" class="login-btn mb-5" shape="round" type="submit">
              {{isLoginStart ? 'Verifying user' : 'Log in'}}&nbsp;
              <ion-spinner *ngIf="isLoginStart" name="dots"></ion-spinner>
            </ion-button>
          </form>
          <div class="text-center mb-1">Don't have an account?</div>
          <div class="text-center fw-bold create-account" routerLink="/signup">Create account</div>
        </div>

        <!-- Forgot password page -->
        <div class="col-12 md:col-4" *ngIf="forgotPassword">
          <div class="text-center fs-1 fw-bold">Forgot Password</div>
          <div class="text-center fs-6 mb-3 login-label">
            Enter you registered email
          </div>
          <form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForgotPassForm(forgotPasswordForm.value)">
            <!-- Email feild -->
            <div class="mb-3">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                  <ion-icon name="mail-outline"></ion-icon>
                </span>
                <input type="text" formControlName="email" class="input-box" pInputText placeholder="Registered email">         
              </div>
              <div class="text-danger" *ngIf="passwordFormSubmitted && 
              (forgotPasswordForm.get('email')?.hasError('required') || forgotPasswordForm.get('email')?.hasError('email'))">
              * Please enter valid email !
            </div>
            </div>

            <ion-button [disabled]="isLoginStart" expand="full" class="login-btn mb-5" shape="round" type="submit">
              {{isLoginStart ? 'Sending email' : 'Reset password'}}&nbsp;
              <ion-spinner *ngIf="isLoginStart" name="dots"></ion-spinner>
            </ion-button>
          </form>
          <div class="text-center fw-bold create-account" (click)="redirectToLoginPage()">Back to login page</div>
        </div>
      </div>
    </div>
  </div>
</div>