<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="grid p-fluid">
        <div class="col-12 md:col-4">
          <div class="text-center fs-1 fw-bold">Welcome Back</div>
          <div class="text-center fs-6 mb-3 login-label">
            Login in to continue to your account
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm(loginForm.value)">
            <!-- Email feild -->
            <div class="mb-3">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                  <ion-icon name="mail-outline"></ion-icon>
                </span>
                <input type="text" formControlName="email" class="input-box" pInputText placeholder="Email Address">         
              </div>
              <div class="text-danger" *ngIf="formSubmitted && 
              (loginForm.get('email')?.hasError('required') || loginForm.get('email')?.hasError('email'))">
              * Please enter valid email !
            </div>
            </div>

            <!-- Password feild -->
            <div class="mb-3">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                  <ion-icon name="lock-closed-outline"></ion-icon>
                </span>
                <input type="password" formControlName="password" class="input-box" pInputText placeholder="Password">         
              </div>
              <div class="text-danger" *ngIf="formSubmitted &&
              (loginForm.get('password')?.hasError('required') || loginForm.get('password')?.value.length < 8)">
              * Please enter 8 digit password !
            </div>
            </div>

            <!-- Others feild -->
            <div class="text-end text-danger mb-3">
              Forgot Password?
            </div>

            <ion-button expand="full" class="login-btn mb-5" shape="round" type="submit">Log in</ion-button>
          </form>
          <div class="text-center mb-1">Don't have an account?</div>
          <div class="text-center fw-bold create-account" (click)="go()">Create account</div>
        </div>
      </div>
    </div>
  </div>
</div>