<ion-header class="dashboard-header">
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="sideMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="dashboard-content">
  <swiper #swiper [config]="config" class="m-2" [pagination]="{ clickable: true }">
    <ng-template swiperSlide>
      <app-sales-target></app-sales-target>
    </ng-template>
    <ng-template swiperSlide>
      <app-sales-transactions></app-sales-transactions>
    </ng-template>
    <ng-template swiperSlide>
      <app-net-income></app-net-income>
    </ng-template>
  </swiper>
</ion-content>
