<ion-header class="dashboard-header">
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="sideMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="dashboard-content">
  <swiper #swiper [config]="config" class="m-2" [pagination]="{ clickable: true }">
    <ng-template swiperSlide>
      <app-sales-target [isLoading]="isLoading" [dashboardSales]="dashboardSales"
       (editTargetValue)="editTargetValue()" [isEditTarget]="isEditTarget"
       [salesTargetControl]="salesTargetControl" [isOnline]="isOnline">
      </app-sales-target>
    </ng-template>
    <ng-template swiperSlide>
      <app-sales-transactions [isLoading]="isLoading" [dashboardSales]="dashboardSales">
      </app-sales-transactions>
    </ng-template>
    <ng-template swiperSlide>
      <app-net-income [isLoading]="isLoading" [dashboardSales]="dashboardSales"
        [netIncome]="netIncome" [lastCycleNetIncome]="lastCycleNetIncome">
      </app-net-income>
    </ng-template>
  </swiper>
</ion-content>
